<div class="d-flex eyra-patient-layout">


  <aside class="eyra-patient-sidebar">


    <div class="eyra-sidebar-logo">
      <a href="/admin/dashboard" class="d-flex align-items-center text-decoration-none">


        <img src="/public/images/logo.png" alt="Eyra Logo" class="eyra-logo-icon me-2">


        <div class="eyra-logo-text-wrapper">
          <span class="eyra-logo-text">EYRA</span>
          <small class="eyra-logo-tagline">Eye Care Center</small>
        </div>

      </a>
    </div>


    <!-- User -->
    <!-- <div class="eyra-sidebar-user text-center">
      <div class="eyra-user-avatar">A</div>
      <p class="eyra-user-name">Ashutosh</p>
    </div> -->

    <!-- Menu -->
    <ul class="eyra-sidebar-menu">

      <li>
        <a href="/admin/dashboard">
          <i class="bi bi-house-door"></i> Home
        </a>
      </li>

      <li>
        <a href="/user_account">
          <i class="bi bi-people"></i> View User Accounts
        </a>
      </li>

      <li>
        <a href="/manage_enquiry">
          <i class="bi bi-envelope-open"></i> Manage Enquiries
        </a>
      </li>

      <li>
        <a href="/manage_doctor">
          <i class="bi bi-person-badge"></i> Manage Doctors
        </a>
      </li>

      <li>
        <a href="/push_notifications">
          <i class="bi bi-bell"></i> Publish Notifications
        </a>
      </li>

      <li>
        <a href="/manage_notifications">
          <i class="bi bi-sliders"></i> Manage Notifications
        </a>
      </li>

      <li>
        <a href="/add_admin">
          <i class="bi bi-person-plus"></i> Add New Admin
        </a>
      </li>

      <li class="eyra-logout">
        <a href="/admin_logout">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </li>

    </ul>


  </aside>



</div>