<!-- Header -->
<div class="eyra-top-header">
  <div class="container d-flex justify-content-between align-items-center"> 

    <div class="eyra-header-left"> 
      <span class="eyra-emergency me-3">
        <i class="bi bi-telephone-fill"></i> Emergency : 108
      </span>

      <span class="eyra-timing">
        <img src="../../public/icons/clock.png" width="21" height="21">
        Mon–Sat : 9:00 AM – 8:00 PM
      </span>
    </div>

    <div class="eyra-header-right">
      <span class="eyra-location me-3">
        <a href="https://www.google.com/maps?q=Pune,+India" target="_blank" class="eyra-location-link me-3">
          <img src="../../public/icons/location.png" width="21" height="21">
          Pune, India
        </a>
      </span>

      <a href="#"
         class="btn btn-success btn-sm eyra-cta-btn"
         data-bs-toggle="modal"
         data-bs-target="#bookAppointmentModal">
        Book Appointment
      </a>
    </div>

  </div>
</div>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg eyra-navbar shadow-sm sticky-top">
  <div class="container"> 

     
     <a class="navbar-brand d-flex align-items-center" href="/"> 

     
      <img src="../../public/images/logo.png" alt="EYRA Eye Care Center Logo" class="eyra-logo-icon"> 
      <div class="ms-2 mt-1"> <span class="eyra-logo-text">EYRA</span>
        <div class="eyra-logo-tagline">Eye Care Center</div>
      </div>
    </a>
    
     
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#eyraNavbar" aria-controls="eyraNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> </button>
      
       
    <div class="collapse navbar-collapse" id="eyraNavbar"> 
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 eyra-nav-left">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
         <a class="eye-donation btn btn-success" href="/eye-donation">Eye Donation</a>
      </ul>
      
       
      <ul class="navbar-nav ms-auto align-items-lg-center gap-3">
        <li class="nav-item">
          <a class="btn eyra-btn" href="/login">Patient Login</a>
        </li>
        <li class="nav-item ms-lg-2">
          <a class="btn eyra-btn" href="/register">Create Account</a>
        </li>
      </ul>

    </div>
  </div>
</nav>